<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rotate"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
>
    <name>Screen Rotate</name>
    <description>Control device rotation</description>
    <js-module name="Rotate" src="www/rotate.js">
        <clobbers target="rotate" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Rotate">
                <param name="android-package" value="org.apache.cordova.plugin.Rotate" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Rotate.java" target-dir="src/org/apache/cordova/plugin/" />
    </platform>
</plugin>